Q1 What are data structures, and why are they important?

Ans] Data structures is the way or storing, organizing, and managing the data so it can be used efficiently.

Why data structures are importnant>

-> Efficient data access:- Helps retrieve and update data quickly.
-> Memory optimization:- Uses memory in the best way possible.
-> Better problem solving:- some problem can be solved efficiently if we use the right data structure(eg. using a queue for a print task list).

-> Code clarity → Organizing data well makes your code easier to read and maintain.

Q2 Explain the difference between mutable and immutable data types with examples?

Ans] Immutable data type:-

These are data types that cannot be change and  update after creation is called immutable data types(eg. Tuple,str).

Mutable data types:-

These are datatypes that  can change and update after creation is called mutable data types(eg. list,dict,set).

Q3 What are the main differences between lists and tuples in Python?

Ans]

-Tuple is Immutable (can't be change after creation).
-List is mutable (can be change after creation).

Q4 Describe how dictionaries store data?

Ans] Dictionaries store data in the form of key-value pairs.

In [2]:
# Example:
dict = {"Name": "yash","course": "Data Analystics", "Age": 21}
print(dict)

{'Name': 'yash', 'course': 'Data Analystics', 'Age': 21}

Q5 Why might you use a set instead of a list in Python?

Ans] We can use set instead of list because sets is several times better than list.

-set store unique data where list can store duplicate data.

-sets are unordered and lists are ordered.

Q6 What is a string in Python, and how is it different from a list?

Ans] Strings:-  A string is a sequence of characters enclosed in single quotes ('), double quotes ("), or triple quotes (''' or """).

lists:- A list is an ordered collection of elements that can be changed after creation.

-Strings are only for text and cannot be changed in place.

-Lists can store any type of data and can be changed in place.

Q7 How do tuples ensure data integrity in Python?

Ans] Tuples ensure data integrity in Python because they are immutable, meaning their values cannot be changed after creation.

This immutability prevents accidental modifications, making them ideal for storing fixed or constant data.

Q8 What is a hash table, and how does it relate to dictionaries in Python?

Ans] A hash table is a data structure that stores data in key–value pairs and uses a hash function to quickly find the location of a value based on its key.

In Python, dictionaries (dict) are implemented internally using hash tables.


How they relate:

In a dictionary, when you store a value with a key:

Python applies a hash function to the key.

This hash value decides where in memory the value will be stored.

Q9 Can lists contain different data types in Python?

Ans] Yes, list can contain different data types.

eg. list = [1, 2, "yash", True, false, 2.22,]

Q10 Explain why strings are immutable in Python?

Ans] Strings are immutable in Python because they cannot be changed after creation, which makes them memory-efficient, secure, and hashable for use in dictionaries.

Q11 What advantages do dictionaries offer over lists for certain tasks?

Ans]Advantages of dictionaries over lists:

-> Faster lookups – Dictionaries use hash tables, so searching by key is O(1) on average, while lists require O(n) search.

-> Key-based access – You can store and retrieve values using meaningful keys instead of numeric indexes.

-> No duplicate keys – Ensures unique identifiers for data.

-> Better data organization – Ideal for representing structured data like records.

Q12  Describe a scenario where using a tuple would be preferable over a list?

Ans] Use a tuple instead of a list when we need to store fixed, unchangeable data — for example, geographic coordinates or days of the week — to ensure the data remains unchanged.

Q13 How do sets handle duplicate values in Python?

Ans] Sets automatically removes the duplicate values.

Q14 How does the “in” keyword work differently for lists and dictionaries?

Ans] The in keyword in Python is used to check for membership, but its behavior depends on the data type:

-> For lists (and other sequences like strings, tuples):
in checks whether a specific value is present in the sequence.

-> For dictionaries:
in checks whether a specific key exists in the dictionary, not the value.

Q15 Can you modify the elements of a tuple? Explain why or why not.

Ans] We cannot modify the elements of a tuple because tuples are immutable in Python.

Once a tuple is created, its elements are stored in fixed memory locations, and Python does not allow changing them to ensure data integrity and hashability (so tuples can be used as dictionary keys).

Q16 What is a nested dictionary, and give an example of its use case?

Ans] A nested dictionary is a dictionary that contains another dictionary as a value for one or more of its keys.

It’s useful for storing structured, hierarchical data (data inside data).

Q17  Describe the time complexity of accessing elements in a dictionary.

Ans] Accessing elements in a dictionary has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary size.

This speed comes from the dictionary’s hash table structure, which uses the key’s hash value to find the element directly.

However:

-> Average case: O(1) (very fast)

-> Worst case: O(n) (rare, happens when many keys have the same hash → hash collision)

Q18 In what situations are lists preferred over dictionaries?

Ans] when we don't want to store our data in the form of key-value pairs we can preferred list.

Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans] Dictionaries are considered unordered (in versions before Python 3.7) because they store data using a hash table, where the position of each key–value pair depends on its hash value, not the order of insertion.

Effect on data retrieval:

The retrieval is done using the key’s hash, so you can get a value quickly (O(1) time) without knowing its position.

You cannot rely on the order of items for logical meaning (in older Python versions).

In Python 3.7+, insertion order is preserved for iteration, but dictionaries are still conceptually unordered because ordering is not their main purpose — fast lookups

Q20 Explain the difference between a list and a dictionary in terms of data retrieval.

Ans] Difference in data retrieval:

-> List: Retrieval is done by index position (numeric), e.g., my_list[0]. You need to know the element’s position. Retrieval time is O(1) for direct indexing but searching for a value is O(n).

-> Dictionary: Retrieval is done by key (unique identifier), e.g., my_dict["name"]. You don’t need to know the position — just the key. Average retrieval time is O(1) because of hashing.

[PRACTICAL QUESTIONS]

Q1 Write a code to create a string with your name and print it.

Ans]

In [3]:
a = "Yash Vishwakarma"
print(a)

Yash Vishwakarma

Q2 Write a code to find the length of the string "Hello World".

Ans]

In [4]:
yash = "Hello World"
print(len(yash))

11

Q3 Write a code to slice the first 3 characters from the string "Python Programming".

Ans]

In [5]:
yash = "Python Programming"

first_three = yash[:3]
print(first_three)

Pyt

Q4 Write a code to convert the string "hello" to uppercase.

Ans]

In [6]:
yash = "hello"

uppercase = yash.upper()
print(uppercase)

HELLO

Q5 Write a code to replace the word "apple" with "orange" in the string "I like apple".

Ans]

In [7]:
A = ("i like orange")

change = A.replace("orange", "apple")
print(change)

i like apple

Q6 Write a code to create a list with numbers 1 to 5 and print it.

Ans]

In [8]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

Q7  Write a code to append the number 10 to the list [1, 2, 3, 4].

Ans]

In [10]:
list = [1,2,3,4]

list.append(10)
print(list)

[1, 2, 3, 4, 10]

Q8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

Ans]

In [11]:
l = [1,2,3,4,5]
l.remove(3)
print(l)

[1, 2, 4, 5]

Q9 Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

Ans]

In [12]:
lst = ['a', 'b', 'c', 'd']
a = lst[1]
print(a)

b

Q10 Write a code to reverse the list [10, 20, 30, 40, 50].

Ans]

In [15]:
list = [10, 20, 30, 40, 50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

Q11  Write a code to create a tuple with the elements 100, 200, 300 and print it.

Ans]

In [18]:
t = (100,200,300)
print(t)

(100, 200, 300)

Q12  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

Ans]

In [19]:
tup = ('red', 'green', 'blue', 'yellow')

second_to_last = tup[1:]
print(second_to_last)

('green', 'blue', 'yellow')

Q13 Write a code to find the minimum number in the tuple (10, 20, 5, 15).

Ans]

In [20]:
a = (10, 20, 5, 15)
min_number = min(a)
print(min_number)

5

Q14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').


Ans]

In [21]:
tup = ('dog', 'cat', 'rabbit')

index = tup.index('cat')
print(index)

1

Q15 Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

Ans]

In [22]:
a = ("yash","damini", "kiwi")
print("kiwi" in a)

True

Q16  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

Ans]

In [1]:
set = {'a', 'b', 'c'}
print(set)

{'a', 'c', 'b'}

Q17  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

Ans]

In [3]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

Q18 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

Ans]

In [6]:
s = {1, 2, 3, 4}
s.remove(1)
s.remove(2)
s.remove(3)
s.remove(4)
print(s)

set()

Q19  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

Ans]

In [7]:
a = {1,2,3}
b = {3,4,5}

union = a.union(b)
print(union)

{1, 2, 3, 4, 5}

Q20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

Ans]

In [8]:
yash = {1,2,3}
damini = {2,3,4}

intersection = yash.intersection(damini)
print(intersection)

{2, 3}

Q21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

Ans]

In [9]:
dict = {"name": "yash", "age": 21, "city": "surat"}
print(dict)

{'name': 'yash', 'age': 21, 'city': 'surat'}

Q22  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

Ans]

In [10]:
yash = {'name':'john','age':25}
yash["country"] = "bangladesh"
print(yash)

{'name': 'john', 'age': 25, 'country': 'bangladesh'}

Q23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

Ans]

In [11]:
dict = {'name': 'Alice', 'age': 30}

print(dict['name'])

Alice

Q24 Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

Ans]

In [15]:
yash =  {'name': 'Bob', 'age': 22, 'city': 'New York'}
yash.pop('age')
print(yash)

{'name': 'Bob', 'city': 'New York'}

Q25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

Ans]

In [16]:
a = {'name': 'Alice', 'city': 'Paris'}
print('city' in a)

True

Q26 Write a code to create a list, a tuple, and a dictionary, and print them all.

Ans]

In [17]:
list = ["yash","damini",1]
tuple = (1,2,"kashmeer","mandir")
dict = {"name": "yash", "age": 21, "city": "surat"}

print(list)
print(tuple)
print(dict)

['yash', 'damini', 1]
(1, 2, 'kashmeer', 'mandir')
{'name': 'yash', 'age': 21, 'city': 'surat'}

Q27  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

Ans]

In [24]:
list = [12,34,45,32,67]
list.sort()
print(list)

[12, 32, 34, 45, 67]

Q28 Write a code to create a list with strings and print the element at the third index.

Ans]

In [25]:
list = ['radha','shree radha','jai radha','shree radha radha']
print(list[3])

shree radha radha

Q29  Write a code to combine two dictionaries into one and print the result.

Ans]

In [26]:
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}

dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

Q30  Write a code to convert a list of strings into a set.

Ans]

In [39]:

string_list = ["apple", "banana", "cherry", "apple"]

string_set = {item for item in string_list}

print(string_set)

{'banana', 'apple', 'cherry'}